@font-face {
    font-family: "Noto Sans KR";
    src: url(../font/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf);
}

@font-face {
    font-family: "TT Ricordi Trial Nobili";
    src: url(../font/tt_ricordi_nobili/TT\ Ricordi\ Trial\ Nobili.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR";
}

a {
    text-decoration: none;
    color: inherit;
}

/*부트스트랩css a태그 효과 지우기*/
ul,
li {
    list-style: none;
}

figure {
    width: fit-content;
    height: fit-content;
}

img {
    display: block;
    max-width: 100%;
}

iframe {
    display: block;
}

html {
    font-size: 15px;
}
.tt {
    font-family: "TT Ricordi Trial Nobili";
    font-weight: 900;
    font-size: 64px;
    color: #855a34;
}

/*main*/
#wrap{
    max-width: 100%;
    height: 54.5vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 300px;
}

#mainslid {
    width: 100%;
    height: 100%;
    position: absolute;
}
#contents{
    position: absolute;
    width: 100%;
    height: 100%;
}
header {
    max-width: 100%;
    height: 10vh;
    position: absolute;
    top: 1%;
    z-index: 999;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
header>a{
    display: block;
    width: 100px;
    text-align: center;
    color: #fff;
    line-height: 10vh;
    font-weight: 900;
}
header h1{
    width: 15%;
    height: 10vh;
}
header h1 img {
    width: 100%;
    height: 10vh;
}

header h1 span {
    width: 1px;
    height: 1px;
    font-size: 0;
    position: absolute;
    overflow: hidden;
}
header .mainmenu{
    width: 120px;
    height: 10vh;
    text-align: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
header .mainmenu button{
    border: none;
    background-color: inherit;
    color: #fff;
}
header .mainmenu select{
    background-color: inherit;
    border: none;
    color: #fff;
    width: 60px;
    font-size: large;
}

main nav {
    position: absolute;
    width: 80%;
    left: 10%;
    border-top: 1px solid #808080;
    height: 80px;
    text-align: center;
    top: 12%;
}

main nav ul {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
}

main nav ul li{
    width: 100%;
    height: 100%;
    line-height: 80px;
}

main nav ul .point{
    background-color: #cc813f;
    border-radius: 60px;
    width: 70%;
    height: 80%;
    line-height: 65px;
    font-weight: 500;
    font-size: 1.2rem;
}

main .text {
    margin-top: 20%;
    text-align: center;
}

main .text .tt {
    font-size: 4.4rem;
    color: #fff;
}

main .text p {
    font-size: 1.3rem;
    color: #fff;
}

.mainsubmenu {
    position: absolute;
    z-index: 88;
    background-color: #efefef;
    width: 80%;
    height: 80px;
    left: 10%;
    top: 70%;
}

.mainsubmenu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
}

.mainsubmenu ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 80px;
    line-height: 80px;
    border: 1px solid #333;
    padding-top: 10px;
}
.mainsubmenu ul li i{
    width: fit-content;
    height: fit-content;
    margin-bottom: 15px;
}
.mainsubmenu ul li p{
    font-size: 1rem;
    width: 100%;
    height: 100%;
}
.mainsubmenu ul li:last-child {
    justify-content: center;
    background-color: #333;
    color: #fff;
}
.mainsubmenu ul li:last-child p{
    margin-top: -15px;
}
.mainsubmenu ul li:last-child i {
    margin-right: 10%;
    margin-top: 5px;
    margin-left: 25%;
}
.mainsubmenu ul li .title {
    line-height: 10px;
    width: 70%;
}
.mainsubmenu ul li .box{
    width: 70%;
}
.mainsubmenu ul li .title p{
    display: block;
    height: 25px;
    text-align: left;
    line-height: 25px;
    font-size: 1rem;
}

.mainsubmenu ul li .title .point {
    color: #808080;
    margin-top: -15px;
}


#submenu {
    position: absolute;
    z-index: 88;
    width: 40%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    left: 36.7%;
    top: 77.7%;
    font-weight: 500;
    display: none;
}

#submenu ul {
    width: 100%;
    height: 205px;
    text-align: center;
    line-height: 50px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}
#submenu ul:first-child{
    overflow: hidden;
}

#submenu ul li {
    width: 100%;
    border: 1px solid #333;
    border-right: none;
    border-top: none;
    background-color: #efefef;
}

#submenu ul:last-child {
    border-right: 1px solid #333;
}


/*스페셜오퍼*/

#event {
    width: 100%;
    height: 80vh;
    margin-bottom: 300px;
}
#event .title{
    width: 100%;
    margin: auto;
    font-size: 1.3rem;
    margin-bottom: 100px;
}

#event .event{
    display: flex;
    width: 100%;
    overflow: hidden;
}

#event .event .box{
    width: 100%;
    height: 600px;
    /*border: 1px solid #f00;*/
    margin: 0 100px;
}
#event .event .box figure{
    margin: auto;
}
#event .event .box .eventtxt{
    margin: 20px 0;
    font-size: 1.5rem;

}
#event .event .box a{
    display: block;
    width: 150px;
    height: 40px;
    background-color: #cc813f;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    border-radius: 100px;
    color: #fff;
}

/*roomtype*/

.roomtype{
    margin-bottom: 300px;
    width: 100%;
    height: 93.5vh;
}
.roomtype .row .title{
    margin-bottom: 100px;
    font-size: 1.3rem;
}

.roomtype .row .col-12{
    position: relative;
    margin-top: -15px;
}

.roomtype .row .col-12 figure img{
    opacity: 0;
}
.roomtype .row .col-12 figure{
    border-top: 1px  solid #ccc;
}
.roomtype .row .col-12:last-child figure{
    border-bottom: 1px  solid #ccc;
}

.roomtype .row .col-12 .text{
    position: absolute;
    z-index: 88;
    top: 0;
    margin-top: 35px;
}
.roomtype .row .col-12 .text a{
    float: left;
}
.roomtype .row .col-12 .text .subtitle{
    font-size: 2.4rem;
}
.roomtype .row .col-12 .text .subtitle2{
    font-size: 1.3rem;
    margin-top: 18px;
    margin-left: 15px;
}
.roomtype .row .col-12 .text ul{
    display: flex;
    clear: left;
}
.roomtype .row .col-12 .text ul li:not(:last-child){
    border-right: 1px solid #000;
    margin-right: 20px;
    padding-right: 20px;
}
.roomtype .row .col-12 figure img:hover{
    opacity: 1;
}

/*프리미엄 서비스*/
.mobile{
    width: 100%;
    height: 150px;
    display: none;
}

.service{
    width: 100%;
    height: 41vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 300px;
}
.service #carouselExampleSlidesOnly{
    width: 100%;
    height: 100%;
    position: absolute;
}

.service .header{
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 1%;
    z-index: 999;
}
.service .header .tt{
    text-align: center;
    margin-top: 20px;
    font-size: 5rem;
    width: 100%;
    color: #fff;
}
.service .header p{
    text-align: center;
    color: #fff;
    margin-top: 20px;
}
.service #contents{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: 35%;
}
.service #contents .ing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-weight: 500;
    color: #fff;
    width: 100%;
    height: 8%;
}

.service #contents .ing .col-4 span{
    display: block;
    width: 66%;
    height: 5px;
    background-color: #808080;
    margin: auto;
    margin-bottom: 20px;
}

/*news*/

.news{
    width: 100%;/*가변값 width:61.6% 고정값을 준 이유: 줄어들때 자연스럽다.*/
    overflow: hidden;
    margin: auto;
    height: 75vh;
    margin-bottom: 300px;
}

.news .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news ul{
    width: 43.86%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}
.news ul li{
    text-align: center;
    width: 30%;
    border: 2px solid #808080;
    border: none;
    border-radius: 50px;
    height: 100%;
    line-height: 50px;
    background-color: #ccc;
    font-size: 1.3rem;
}
.news ul li:first-child{
    background-color: #855a34;
    color: #fff;
}
table{
    border:collapse;
    width: 100%;
    margin-bottom: 300px;
}
td{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-left: 20px;
    font-size: 1.3rem;
}
tr{
    height: 80px;
}
table tr .right{
    text-align: right;
    padding-right: 20px;
}

/*찾아오시는길*/

#map{
    margin: auto;
    width: 100%;
    height: 130vh;
    margin-bottom: 300px;
}
#map .tt{
    margin-bottom: 50px;
}

#map iframe{
    margin-bottom: 100px;
}
#map .maptext .text2 i{
    margin-left: 5px;
}
#map .maptext .text3 .set{
    margin-left: -8px;
}

.maptext{
    width: 100%;
    margin: auto;
}

.maptext .text{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}
.maptext i{
    margin-right: 30px;
}
.maptext p{
    width: 100%;
    line-height: 50px;
    font-size: 1.3rem;
}

.maptext .text .set{
    display: flex;
    width: 50%;
}
.maptext .text .number{
    width: 20%;
    height: 50px;
    font-size: 1.7rem;
    text-align: center;
    color: rgb(177, 20, 20);
    font-weight: 900;
}

/*footer*/

footer{
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 650px;
    margin: auto;
}
footer #allbox{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
footer #allbox .left{
    width: 60%;
    height: 100%;
}
footer #allbox .left .text1{
    display: flex;
    width: 100%;
    margin: 50px 0;
}
footer #allbox .left .text1 li{
    text-align: center;
    width: 100%;
    font-size: 20px;
}
footer #allbox .left .text2{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
footer #allbox .left figure{
    margin: 100px 0;
}
footer #allbox .left figure img{
    width: 35%;
    height: 200px;
}

footer #allbox .right{
    width: 40%;
    overflow: hidden;
    text-align: right;
}

footer #allbox .right .icon{
    margin: 50px 0;
}
footer #allbox .right .icon #instar{
    margin-right: 20px;
}
footer #allbox .right .text{
    margin-top: 330px;
}
footer #allbox .right .text .point{
    font-size: 2.7rem;
}



@media screen and (max-width:1200px){
    #wrap nav{
        width: 100%;
        left: 0;
        top: 15%
    }
    main nav ul .point{
        height: 50px;
        width: 60%;
        line-height: 50px;
        margin-right: 10px;
        font-size: 1rem;
    }
    main .text .tt {
        font-size: 3rem;
        color: #fff;
    }
    main .text p {
        font-size: 1rem;
        color: #fff;
    }
    .mainsubmenu ul li p,
    .mainsubmenu ul li .title p{
        font-size: 0.9rem;
    }
    #submenu{
        top: 82.2%;
    }
    #map iframe{
        width: 100%;
    }

    #event .event .box .eventtxt {
        font-size: 1.1rem;
    }
}
@media screen and (max-width:992px){
    main nav{
        display: none;
    }
    main .text .tt{
        font-size: 2rem;
    }
    main .text p{
        font-size: 1rem;
    }
    .mainsubmenu{
        top: 0;
        left: 0;
        margin-top: 40%;
        width: 100%;
        height: 20vh;
    }
    .mainsubmenu ul{
        width: 100%;
        height: 100%;
        display: block;
        float: left;
    }
    .mainsubmenu ul li:nth-child(1),
    .mainsubmenu ul li:nth-child(2){
        float: left;
        width: 50%;

    }
    .mainsubmenu ul li:nth-child(3){
        clear: left;
        float: left;
        width: 33.3%;
    }
    .mainsubmenu ul li:nth-child(4),
    .mainsubmenu ul li:nth-child(5){
        float: left;
        width: 33.3%;
    }
    .mainsubmenu ul li:last-child{
        clear: left;
        width: 100%;
    }
    .mainsubmenu ul li:last-child i{
        margin-left: 40%;
        margin-right: 2%;
        font-size: 150%
    }
    .mainsubmenu ul li:last-child p{
        font-size: 1.5rem;
    }

    #submenu{
        width: 100%;
        left: 0;
        top: 103%;
    }
    .service .header .tt {
        font-size: 3rem;
    }
    footer .container .left .text2{
        font-size: 0.9rem;
    }
    footer #allbox .right .text{
        font-size: 0.9rem;
    }
    footer #allbox .right .text .point{
        font-size: 2.3rem;
    }
}
@media screen and (max-width:768px){
    body{height: 760vh;}
    #wrap{
        margin-bottom: 400px;
    }
    #wrap header>a,
    #wrap header .mainmenu select{
        display: none;
    }
    #wrap header{
        display: block;
    }
    #wrap .container>h1{
        margin: auto;
        float: left;
        margin-left: 45%;
    }
    #wrap .container .mainmenu{
        float: right;
        display: flex;
        flex-direction: row-reverse;
    }
    #wrap .container .mainmenu .menuicon{
    }
    main nav{
        display: none;
    }
    main .text .tt{
        font-size: 2rem;
    }
    main .text p{
        font-size: 1rem;
    }
    .mainsubmenu{
        top: 0;
        left: 0;
        margin-top: 40%;
        width: 100%;
        height: 20vh;
    }
    .mainsubmenu ul{
        width: 100%;
        height: 100%;
        display: block;
        float: left;
    }
    .mainsubmenu ul li:nth-child(1),
    .mainsubmenu ul li:nth-child(2){
        float: left;
        width: 50%;

    }
    .mainsubmenu ul li:nth-child(3){
        clear: left;
        float: left;
        width: 33.3%;
    }
    .mainsubmenu ul li:nth-child(4),
    .mainsubmenu ul li:nth-child(5){
        float: left;
        width: 33.3%;
    }
    .mainsubmenu ul li:last-child{
        clear: left;
        width: 100%;
    }
    .mainsubmenu ul li:last-child i{
        margin-left: 40%;
        margin-right: 2%;
        font-size: 150%
    }
    .mainsubmenu ul li:last-child p{
        font-size: 1.5rem;
    }

    #submenu{
        width: 100%;
        left: 0;
        top: 111.5%;
    }

    #event{
        height: 260vh;
        margin-bottom: 0;
    }

    #event .event{
        display: block;
    }

    #event .event .box{
        margin: 0;
    }
    #event .event .box .eventtxt{
        margin: 20px 100px;
        font-size: 1.5rem;
    }
    #event .event .box a{
        margin: 20px 100px;
    }

    .tt{
        font-size: 2.5rem;
    }
    .roomtype{
        height: 75vh;
        margin-bottom: 200px;
    }
    .roomtype .row .col-12 .text{
        margin-top: 20px;
    }
    .roomtype .row .col-12:last-child .text{
        margin-top: 30px;
    }
    .roomtype .row .col-12 .text .subtitle{
        font-size: 1.5rem;
    }
    .roomtype .row .col-12 .text .subtitle2{
        margin-top: 10px;
        font-size: 1rem;
    }
    .service #contents{
        display: none;
    }
    .service .header .tt,
    .service .header p{
        display: none;
    }
    .service{
        margin-bottom: 200px;
    }
    .mobile{
        display: block;
        margin-top: 100px;
    }

    .news{
        margin-bottom: 200px;
        height: 55vh;
    }
    .news .title{
        margin-bottom: 50px;
    }
    
    .news ul{
        display: none;
    }
    .maptext .text .number{
        font-size: 1.5rem;
    }
    .maptext p{
        font-size: 1.3rem;
    }
    .maptext .text .set{
        width: 100%;
    }
    footer #allbox .right .text>p:first-child{
        display: none;
    }
    footer #allbox .right .text>p:last-child{
        margin-top: 520px;
        font-size: 0.7rem;
    }
    footer .container .left .text2{
        font-size: 0.7rem;
    }
}
@media screen and (max-width:576px){
    #wrap .container>a,
    #wrap .container>h1,
    #wrap .container .mainmenu select{
        display: none;
    }
    menu{
        background-color: #cc813f;
    }
    #wrap .container .mainmenu .menuicon{
        margin-left: 500px;
    }

    .mainsubmenu{
        top: 60px;
    }
    #contents .text{
        margin-top: 130px;
    }
    #contents .text p{
        display: none;
    }
    #submenu{
        top: 163%;
    }
    #wrap{
        margin-bottom: 500px;
    }

    #event{
        height: 260vh;
        margin-bottom: 0;
    }

    #event .event{
        display: block;
    }

    #event .event .box{
        margin: 0;
    }
    #event .event .box .eventtxt{
        margin: 20px 5px;
        font-size: 1.5rem;
    }
    #event .event .box a{
        margin: 20px 0;
    }
    .roomtype{
        margin-bottom: 0;
        height: 70vh;
    }
    .roomtype .row .col-12 .text{
        margin-top: 20px;
    }
    .roomtype .row .col-12:last-child .text{
        margin-top: 23px;
    }
    .roomtype .row .col-12 .text .subtitle{
        font-size: 1.5rem;
    }
    .roomtype .row .col-12 .text ul{
        display: none;
    }
    .service .header .tt,
    .service .header p{
        display: none;
    }
    .service{
        margin-bottom: 200px;
    }
    .mobile{
        display: block;
        margin-top: 100px;
    }

    .news ul{
        display: none;
    }
    .news .title{
        margin-bottom: 50px;
    }
    .news{
        margin-bottom: 100px;
        height: 55vh;
    }
    td{
        font-size: 1rem;
    }
    .maptext .text .number{
        font-size: 1.2rem;
    }
    .maptext p{
        font-size: 1rem;
    }
    .maptext .text .set{
        width: 80%;
    }
    footer{
        height: 450px;
    }
    footer #allbox {
        display: block;
    }
    footer #allbox .left{
        width: 100%;
    }
    footer #allbox .left figure{
    margin: 10px 0;
    }
    footer #allbox .left figure img{
    width: 70%;
    height: 100px;
    }
    footer #allbox .right{
        display: none;
    }
    footer #allbox .left .lasttext{
        margin-top: 100px;
        width: 100%;
    }
}
@media screen and (max-width:450px){
    
    #wrap .container>a,
    #wrap .container>h1,
    #wrap .container .mainmenu select{
        display: none;
    }
    menu{
        background-color: #cc813f;
    }
    #wrap .container .mainmenu .menuicon{
        margin-left: 400px;
    }

    .mainsubmenu{
        top: 60px;
    }
    #contents .text{
        margin-top: 110px;
    }
    #contents .text p{
        display: none;
    }
    #submenu{
        top: 163%;
    }

    #event .container p{
        font-size: 1rem;
    }
    .roomtype .row .title .pp{
        font-size: 1rem;
    }
    #wrap{
        margin-bottom: 500px;
    }
    .tt{
        font-size: 2rem;
    }

    body{
        height: 721.5vh;
    }
}